.about {
        background-image: url("../assets/images/about-hero-mobile.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 10rem;
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
    
    &__wrapper {
        grid-area: 1/-1;
    }

    // &__title-wrapper {
    //     position: absolute;
    //     top: 30%;
    //     left: 35%;
    // }

    &__title {
        text-align: center;
        font-size: unquote("clamp(2.5rem, 1.546rem + 4.07vw, 3.5rem)");
    }

    &__highlights-wrapper {
        padding: 4.5rem 0 7.5rem 0;
    }

    & .semi-circle {
        display: none;
    }
}

.mobility-arrow {
    bottom: 33px;
    left: -5px;
}

.urban {
    padding-top: 7.5rem;

    &-arrow {
        top: -5px;
        left: -135px;
    }
}

.values {
    &__wrapper {
        margin-left: unquote("clamp(2rem, -0.926rem + 12.48vw, 8.438rem)");
        margin-right: unquote("clamp(2rem, -0.926rem + 12.48vw, 8.438rem)");
    }

    &__title {
        text-align: center;
        font-size: unquote("clamp(2rem, 1.636rem + 1.82vw, 3rem)");
        line-height: 1;
        letter-spacing: -1.43px;
    }

    &__content {
        @include gridCenter;
        text-align: center;
        padding-top: 4rem;
        gap: 3.5rem;
    }

    &__col {
        & img {
            margin: auto;
            border-radius: 50%;
        }
        
        & p {
            font-size: 0.9375rem;
            color: $lightGray;
            line-height: 1.67;
            //margin-block-start: 1.6875rem;
            // width: 80%;
            // margin: auto
        }
    }

    &__col-content {
        margin-top: 3rem;
    }

    &__id {
        font-family: "Space Mono", monospace;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1.88rem 2.0625rem;
        border-radius: 50%;
        background-color: $orange;
    }

    // &__col + &__col {
    //     margin-top: 3.5rem;
    // }
}

.values__title,
.value__title,
.values__id {
    color: $blueGray;
}

.value__title {
    margin-block-end: 1.6875rem;
}


.faq {
    color: $blueGray;
    margin-top: 9.0625rem;
    margin-bottom: 7.5rem;

    &__wrapper {
        margin: 0 2rem;

        & .accordion__container:nth-child(3) {
            margin-block-start: unquote("clamp(3rem, 2.545rem + 1.94vw, 4rem)");
        }
    }

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__title {
        font-size: 2rem;
        line-height: 1;
        letter-spacing: -1.43px;
        margin-bottom: 3rem
    }

    &__subtitle {
        font-size: unquote("clamp(1.5rem, 0.546rem + 4.07vw, 2.5rem)");
        line-height: 1.17;
        letter-spacing: -1.07px;
        margin-bottom: 2rem;
    }
}

.accordion {
    background-color: $accGray;

    + .accordion {
        margin-block-start: 1rem;
    }

    // &__container {
    //     margin-top: 3rem;
    // }

    &__title {
        color: $blueGray;
        font-size: 1.125rem;
        text-align: left;
        line-height: 1.333;
        letter-spacing: -0.8px;
    }

    &__header button {
        @include flexBtwn;
        border: none;
        padding: 2rem 2rem 2rem 2.5rem;
        background-color: $accGray;
        column-gap: 1rem;
        width: 100%;
    }

    &__content {
        display: none;
        & p {
            font-size: 0.9375rem;
            text-align: left;
            padding: 0 1.75rem 2rem 2rem;
            line-height: 1.67;
        }
    }     
}

.accordion.is-open .accordion__content {
    display: grid;
}
