.header__wrapper {
    display: flex;
    align-items: center;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    margin: 0 2rem;
    justify-content: space-between;

    & a {
        //margin-left: 5.9rem;
        margin: 0 auto;
    }   
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 3.63625rem;
    width: 100%;
}

.logo {
    height: 1.25rem;
}

.nav {
    display: none;
}

.nav__menu {
    font-family: "Space Mono", monospace;
    font-weight: bold;
}