@include media-sm {
    .menu__btn {
        margin: 0 2.4375rem;
    
        & a {
            margin: 0;
        }
    
        & .hamburger__menu {
            display: none
        }
    
        & .nav {
            display: flex;
    
            &__menu {
                display: flex;
                font-size: 0.9375rem;
            }
    
            &__item {
                line-height: 1.67;
            }
    
            &__item:nth-child(2),
            &__item:nth-child(3) {
                padding-left: 2rem;
            }
    
            &__item a {
                color: $lightGray;
            }
        }
    }

    .logo {
        height: 1.785rem;
    }

    .hero {
        background-image: url("../assets/images/home-hero-tablet.jpg");
        background-position: center;

        &__img {
            grid-area: 0;
        }
    }

    .signup {
        background-position: center bottom;

        &__wrapper h2 {
            width: 75%;
            margin: 0 auto;
            letter-spacing: -2.14px;
        }
    }

    .footer {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            padding: 2.1875rem 0 2rem 0;
            margin-left: unquote("clamp(1.25rem, -5.223rem + 17.26vw, 10.313rem)");
            margin-right: unquote("clamp(1.25rem, -5.357rem + 17.62vw, 10.5rem)");
        }

        &__nav {
            display: flex;
            justify-content: space-between;
            column-gap: 2.5rem;
            align-items: center;

            & ul {
                margin: 0;
                
                li + li {
                    padding-top: 0;
                }
            }
        }

        &__menu {
            display: flex;
            column-gap: 2rem;
        }
    }
    /* ==== ABOUT STYLES ====*/
    .about {
        background-image: url("../assets/images/about-hero-tablet.jpg");
        background-repeat: no-repeat;
        height: 12.5rem;
        background-size: cover;

        &__highlights-wrapper {
            padding: 9rem 0 7.5rem 0;
        }
    }

    /* ==== CAREERS STYLES ====*/
    .careers {
        background-image: url("../assets/images/careers-locations-hero-tablet.jpg");
        background-repeat: no-repeat;
        height: 12.5rem;
        background-size: cover;

        &__highlights-wrapper {
            padding: 9rem 0 0 0;
        }
    }
}

@include media-md {
    /* === Home Page Styles === */
    .menu__btn {
        & .nav {
            &__button {
                display: flex;
                margin: 0;
            }
        }  
    }

    .hero {
        &__content {
            margin-left: clamp(2rem, 13vw, 6.125rem);
            margin-right: clamp(2rem, 13vw, 6.125rem);      
        }

        &::before {
            background-position: -127px 468px;
        }

        &::after {
            content: "";
            background-image: url("../assets/patterns/white-circles.svg");
            background-repeat: no-repeat;
            grid-area: 1/ -1;
            background-position: 105% 541px;
        }
    }

    .features {
        &__card {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 4.9375rem;
        }

        &__wrapper img {
            width: auto;
        }

        &__content {
            text-align: left;
        }
    }

    .highlights {
        &__content {
            margin-left: unquote("clamp(2rem, -1.916rem + 16.75vw, 6.125rem)");
            margin-right: unquote("clamp(2rem, -1.916rem + 16.75vw, 6.125rem)");
            & h2 {
                margin: 3.5rem auto 2rem auto;
                width: 80%;
            }
        }
    }

    .footer {
        &__nav {
            column-gap: 3.66125rem;
        }
    }


    .circle {
        display: block;
        position: absolute;

        &.circle1 {
            right: -374px;
        }

        &.circle2 {
            left: -374px;
        }

        &.circle3 {
            right: -374px;
        }
    }

    .rght__rght-arrow {
        top: -3px;
        left: -131px;
    }

    .lft__dwn-arrow2 {
        top: 75px;
        right: -417px;
    }

     /* === About Page Styles === */
     .about {
        justify-content: stretch;

        &::after {
            content: "";
            background-image: url("../assets/patterns/white-circles.svg");
            background-repeat: no-repeat;
            height: 3.9375rem;
            grid-area: 1/-1;
            z-index: 1;
            background-position: 106%;
        }

        &__wrapper {
            padding-left: 6.0625rem;
        }

        &__title {
            letter-spacing: -2.5px;
            line-height: 1;
            text-align: left;
        }
     }

    /* === Careers Page Styles === */
    .careers {
        justify-content: stretch;
    
        &::after {
            content: "";
            background-image: url("../assets/patterns/white-circles.svg");
            background-repeat: no-repeat;
            height: 3.9375rem;
            grid-area: 1/-1;
            z-index: 1;
            background-position: 106%;
        }
    
        &__wrapper {
            padding-left: 6.0625rem;
        }
    
        &__title {
            letter-spacing: -2.5px;
            line-height: 1;
            text-align: left;
        }
    }

    .vacancy {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            letter-spacing: -1.07px;
            line-height: 1.083;
        }

        &__position {
            margin-block-end: 0;
            text-align: left;
        }

        &__button {
            width: 11.25rem;
            margin: 0;
        }

        &__button.button {
            padding: 1rem 2.4375rem;
        }
    }
}

@include media-lg {
    .hero__wrapper {
            background-image: url("../assets/images/home-hero-desktop.jpg");
        }
}