<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__nav">
      <a class="footer__logo-link" href="/index/">
        <img class="footer__logo" src="/assets/logo.svg" alt="Scoot logo" />
      </a>
      <ul class="footer__menu">
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/locations/">Location</a>
        </li>
        <li>
          <a href="/careers/">Careers</a>
        </li>
      </ul>
    </div>
    <div class="footer__social">
      <a href="#">
        <img src="/assets/icons/facebook.svg" alt="facebook icon" />
      </a>
      <a href="#">
        <img src="/assets/icons/twitter.svg" alt="twitter icon" />
      </a>
      <a href="#">
        <img src="/assets/icons/instagram.svg" alt="instagram icon" />
      </a>
    </div>
  </div>
</footer> 