<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__nav">
      <a class="footer__logo-link" href="/index/">
        <img class="footer__logo" src="/assets/logo.svg" alt="Scoot logo" />
      </a>
      <ul class="footer__menu">
        <li class="footer__item">
          <a href="/about/" class="list__item {{ 'active' if '/about/' in page.url }}">About</a>
        </li>
        <li class="footer__item">
          <a href="/locations/" class="list__item {{ 'active' if '/locations/' in page.url }}">Location</a>
        </li>
        <li class="footer__item">
          <a href="/careers/"  class="list__item {{ 'active' if '/careers/' in page.url }}">Careers</a>
        </li>
      </ul>
    </div>
    <div class="footer__social">
      <a href="#">
        <img src="/assets/icons/facebook.svg" alt="facebook icon" />
      </a>
      <a href="#">
        <img src="/assets/icons/twitter.svg" alt="twitter icon" />
      </a>
      <a href="#">
        <img src="/assets/icons/instagram.svg" alt="instagram icon" />
      </a>
    </div>
  </div>
</footer> 