<header>
  <div class="header__wrapper">
    <span class="hamburger__menu">
      <img src="/assets/icons/hamburger.svg" alt="hamburger menu" />
    </span>

    <div class="logo-wrapper">
      <a href="/index.html">
        <img class="logo" src="/assets/logo.svg" alt="website logo" />
      </a>
      
      <nav class="nav">
        <ul class="nav__menu">
          <li class="nav__item">
            <a href="/about/">About</a>
          </li>
          <li class="nav__item">
            <a href="/locations/">Location</a>
          </li>
          <li class="nav__item">
            <a href="/careers/">Careers</a>
          </li>
        </ul>
      </nav>
    </div>
    

    <button class="nav__button button">Get Scootin</button>
  </div> 
</header>