<section class="signup">
    <div class="signup__wrapper">
      <h2>Sign up and Scoot off today</h2>
      <div class="signup__apps" id="get-scooting">
        <a href="#">
          <img class="signup__app" src="/assets/icons/app-store.svg" alt="image of the app-store" />
        </a>
        <a href="#">
          <img class="signup__app" src="/assets/icons/google-play.svg" alt="image of the google app"/>
        </a>
      </div>
    </div>
</section>
